.services {

    &__grid {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 12.5rem;

    }

    &__card {
        margin-right: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        overflow: hidden;
        
        &-img {
            position: relative;
            transition: transform .4s;
            &:hover {
                transform: scale(1.2);
            }
        }

        &-text {
            position: absolute;
            font-size: 2.5rem;
            z-index: 2;
            color: #fff;
            font-weight: 700;
        }
    }
}